/* 公共css样式 */
.el-main{
  padding: 10px;
}

.main-search{
  width: 100%;
  padding: 15px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.main-search .el-input{
  width: 180px;
}
.main-search .el-input__inner{
  color: #333333;
  background-color: #dde4ee;
}
