/* 重置属性 */
html,body,#app{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #dee5ef;
}
body,h1,p,ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #ffffff;
  text-decoration: none;
}
